   /* Comentario en CSS   */

   /* Selectores de ID's */
   #titulo{
      color: red;
   }
  #logo{
     margin-top: 200px;
  }



  /*Selectores de clases */

  .rojo{
     color: red;
  }
  .logo{
     margin-top: 200px;    
  }
 
/*Selectores con Clases y ID's */

#titulo.titulo{
   font-size: 60px;
}

/*Selectores con 2 clases*/
.azul.tituloCurso{
   color: blue;
}

/*Selectores con elementos HTML*/
p{
   color: brown;
} 
h2{
   color: orange;
}
h3{
   color: green;
} 
img{
   width: 300px;
}

/*Selectores con elementos HTML y ID*/
img#logo{
   width: 600px;
}
h2#titulo{
   color: orange;
}

/*Selectores con elementos HTML y Clases*/
section.seccion{
   background: gray;
}
div.noticia{
   background: white;
}

/*Selector Universal*/
/* *{
   color: black!important;
   font-size: 20px;
} */

#listado-cursos *{
   color: red;
   font-size: 30px;
}
.noticias *{
   font-size: 20px;
}

/*Selectores de grupo*/
h2,h3,p,a{
   text-transform: uppercase;
}
h2,h3{
   text-align: center;
}

/*Selectores de Descendientes*/
nav#navegacion {
   background-color: orange;
}
nav#navegacion ul{
   list-style: none;
}
nav#navegacion ul li{
   display: inline;
}
nav#navegacion ul li a{
   color: white;
}

/*Selectores con hijos*/
section#cursos>ul{
   border: 1px solid black;
}
ul#listado-cursos>li{
   color:red;
}
ul#listado-cursos li ul>li{
   color: green;
}

/*Selector con elementos adyacentes*/
ul#listado-cursos + p{
   background-color: red !important;
   color: white;
}

/*Selectores para enlaces*/
a[href*="facebook.com"]{
   background-color: yellow;
}
a[href*="google.com.ar"]{
   background-color: purple;
}

/*Selectores de atributos*/
img[id="logo"]{
   margin-top: 0;
}

[class="seccion"]{
   background-color: white !important;
}

/** Selectores con Pseudo Clases **/
div.menu nav ul li a:focus,
div.menu nav ul li a:visited,
div.menu nav ul li a:active{
   color:black;
}
div.menu nav ul li a:hover{
   color:orange;
}
h2:hover{
   color:blue;
}

/** Selectores con Pseudo Clases y nth-child **/
div.menu nav ul li:nth-child(1){
   background-color: red;
}
div.menu nav ul li:nth-child(2){
   background-color:yellow;
}
div.menu nav ul li:nth-child(3){
   background-color:gray;
}
div.menu nav ul li:nth-child(4){
   background-color: blue;
}